:root {
    --primaryColor: 114, 61, 70;
    --secondaryColor: 226, 109, 92;
    --thirdColor: 255, 225, 168;
    --fourthColor: 201, 203, 163;

    --backgroundDark: 71, 45, 48;

    font-family: Roboto, Arial, Helvetica, sans-serif;
}
html {
    height: 100%;
}

body {
    height: 100vh;
    margin:0;
    font-size:32px;
}

.text-color-primary {
    color: rgba(var(--primaryColor), 1);
}

.text-color-dark {
    color: rgba(var(--backgroundDark), 1);
}

input, label, span, p, li {
    font-size: 0.67em;
}

/* --- Card --- */

.card {
    padding: 0.5em;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(10, 10, 10, 0.1) 1px 1px 10px 3px;
}

.fl-row {
    display:flex;
    flex-direction: row;
}

.fl-col {
    display:flex;
    flex-direction: column;
}
.no-overflow {
    overflow: hidden;
}

.main-content {
    overflow: auto;
    width: 100vw;
}

/* --- Top Nav --- */
.top-nav {
    display: flex;
    position: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px 2em;

    color: white;
    background: #222;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#top-nav-title {
    margin: 0 1em 0 0;
    cursor: pointer;
}

.top-nav span {
    margin: 0 1em 0 0;
    font-size: large;
    font-weight: normal;

    cursor: pointer;
}

.top-nav span:hover {
    text-decoration-line: underline;
}


/* --- Input --- */
label {
    color: #888;
    margin-bottom: 0.4em;
}

input[type=text], input[type=password] {
    padding: 0.8em 0.8em;
    border:none;
    border-radius: 4px;
    background: rgba(245,245,245,1);
    color: #666;
    box-shadow: rgba(205,205,205,0.4) inset 1px 1px 3px 3px;

    transition: box-shadow 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

input[type=text]::placeholder, input[type=password]::placeholder {
    color: #999;
}

input[type=text]:hover, input[type=password]:hover {
    outline: none;
    box-shadow:  rgba(190,190,190,0.2) inset 1px 1px 3px 3px,
    rgba(var(--primaryColor), 0.3) 0px 0px 1px 3px;
}
input[type=text]:focus, input[type=password]:focus {
    outline: none;
    box-shadow:  rgba(190,190,190,0.6) inset 1px 1px 3px 3px,
        rgba(var(--primaryColor), 0.8) 0px 0px 1px 3px;
}

select {
    font-size: 0.67em;
    padding: 0.8em 0.8em;
    margin-bottom: 0.8em;
    border:none;
    border-radius: 4px;
    background: rgba(245,245,245,1);
    color: #666;
    box-shadow: rgba(205,205,205,0.4) inset 1px 1px 3px 3px;
}

.feedback-box {
    padding: 0.5em 0.5em;
    border: #cfb2a0 solid 1px;
    border-radius: 4px;
    width: 100%;
}

.f-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.f-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.f-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.feedback-title {
    margin: 0;
    font-weight: normal;
    font-size: 0.75em;
}

.feedback-text {
    margin: 0;
}

.btn-primary {
    border-radius: 3px;
    border:none;
    background: rgb(var(--primaryColor));
    color: white;
    padding: 0.8em;
    font-weight: bold;
}

.btn-primary:hover {
    background: rgba(var(--primaryColor), 0.8);
    cursor: pointer;
}